:root {
  --main-color: #027af4;
  --secondary-color: #7caff1;
  --alt-colour: #4c58c6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  // margin: 0;
  background-color: var(--secondary-color);
  // color: white;
}

input, button {
  font-size: inherit;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 0.4rem;
}

ul, ol {
  padding-left: 1rem;
}

.debug_dump {
  margin-top: 3rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
  overflow: scroll;
}

.error {
  color: red;
}

.map-overlay {
  position: absolute;
  width: 78vw; // FIXME this was a quick fix to prevent overflow
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1;
  border: 1px solid gray;
  padding: 1rem 2rem;
  min-height: 200px;

  .rating {
    color: #333;
  }
}

.hidden {
  display: none;
}

.logo img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
