<footer class="footer">
  <div class="container">
    <div class="disclaimer">
      <strong>
        Disclaimer: All the information on this page is for demonstrative purposes
        only and in no way reflects the actual named company's environmental rating
        or commitments.
      </strong>
    </div>
    <div class="about">
      <div class="copyright">
        Copyright © 2022 Acclimate
      </div>
      <div class="website-author">
        Web application made with ❤️ by
        <a href="https://github.com/dawidl022" target="_blank" rel="noopener">
          Dawid Lachowicz
          <%= image_tag 'icons/github.svg', alt: "GitHub", class: "footer-icon" %>
        </a>
      </div>
    </div>
  </div>
</footer>
