<header>
  <h1 class="logo">
    <%# TODO set light logo on prefers dark media query %>
    <%= link_to image_tag('logo-dark.png', alt: "Acclimate"), root_path, "data-turbolinks": "false" %>
  </h1>
</header>
